@model List<Product>
    @{
        ViewData["Title"] = "Create";
    }
    <h1></h1>
    <h2>Create</h2>

    <form action="Save" method="post" style="border: 1px solid">

        name: <input type="text" value="" name="Name">
        price: <input type="number" value="" name="Price">
        <input type="submit" name="create" value="Create" />

    </form>
    <br /><br /><br />
    <form action="Edit" method="post" style="border: 1px solid">
        id: <input type="text" name="Id" value="" />
        name: <input type="text" name="Name" value="" />
        price: <input type="text" name="Price" value="" />
        <input type="submit" name="update" value="Update" />

    </form>
    <br /><br /><br />
   <ul>
       @foreach(var  product in Model){
           <li>
               @product.Name - @product.Price
               <a href="/Product/Edit?id=@product.Id">Edit</a>&nbsp;
               <a href="#" class="btn-delete" id="@product.Id">Delete</a>
           </li>
       }
   </ul>
    <br /><br /><br />
    @foreach (var product in Model)
    {
        <div style="border: 1px solid">
            <p>@product.Id</p>
            <p>name: @product.Name</p>
            <p>price: @product.Price</p>
        </div>
    }
 
<script>
    var listBtnDelete = document.getElementsByClassName("btn-delete");
    for (var i = 0; i < listBtnDelete.length; i++) {
        listBtnDelete[i].onclick = function () {
            if (confirm("Are you sure")) {
                var curentDeleteButton = this;
                var xmlhtmlrequest = new XMLHttpRequest();
                var deleteID = this.id;
                xmlhtmlrequest.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        alert("DELETE SUCCESS");
                        //document.getElementById("product - " + deleteID).remove();
                        curentDeleteButton.parentElement.remove();
                    }

                }
                XMLHttpRequest.open("DELETE", "Product/DELETE" + deleteID, true);
                xmlhtmlrequest.send();
                // call ajax
                var checkAll = document.getElementById("check-all");
                var listCheckbox = document.getElementsByClassName("check-item");
                checkAll.onclick = function () {
                    for (var i = 0; i < listCheckbox.length; i++) {
                        listCheckbox[i].checked = this.checked;
                    }
                }
                var deleteAll = document.getElementById("delete-id");
                deleteAll.onclick = function () {
                    var checkedItem = document.querySelectionAll(".check-item:checked");
                    var deleteIds = new Array();
                    for (var i = 0; i < checkedItem.length; i++) {
                        deleteIds.push(checkedItem[i].id.re)
                    }
                }
            }
        };
    }
</script>